@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #050505;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-linux-biolinum);
}

/* Elements marked with serif class or font-serif will use Linux Biolinum */
.font-serif,
.serif {
  font-family: var(--font-linux-biolinum);
}

/* Elements marked with sans or font-sans will use Linux Biolinum K */
.font-sans,
.sans {
  font-family: var(--font-linux-biolinum-k), var(--font-linux-biolinum), system-ui, sans-serif;
}
